/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 50px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 50px;}
}

.dropbtn {
  color: black;
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.hidden {
  display: none
}

.outsideBox {
  padding-top: 2px;
  padding-bottom: 2px;
  background: #53A567FF;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.center {
  margin: 2px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.outsideBoxResults {
  margin: 2px;

  display: center;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.mainBackground {
  background: #56A8CBFF;
  width: auto;
}

/*
  colors
  green: #53A567FF
  blue: #56A8CBFF
  red: #DA291CFF
  */
.input-flex-container {
  padding-left: 5px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #53A567FF;
  justify-content: center;
  display: flex;
  width: auto;
  flex-wrap: nowrap;
}

.input-flex-container input {
  text-align: center;
  width: 100%;
  line-height: 20px;
  font-size: 20px;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.sidebar {
  flex: 0.1;
  min-width: 100px;
}

.mainContent {
  flex: 0.9;
  overflow: auto;
  width: auto;
}

.tr {
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgb(240, 241, 241);
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: auto;
}

.flightResults {
  margin: 4px;
  
  background-color: lightskyblue;
  text-align: center;
  vertical-align: baseline;
  
  display: block;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  
}

.td {
  text-align: left;
  background-color: lightgray;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.searchButton {
  padding: 10px 32px;
  width: 100%;
  color: black;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  border: none;
}

.searchButton:hover {
  background: #53A567FF;
}

.landing-animation{
  height: 16px;
  position: relative;
  -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
  animation: mymove 2s infinite;
}

.search-form-container {
  background: #53A567FF;
  display: flex;
}

.search-input {
  flex: 100%;
  width: auto;
}

.search-params {
  flex: 50%;
  width: auto;
}

.search-submit {
  position: relative;
  display: inline-block;
  flex: 50%;
  width: auto;
}

@media (max-width: 600px) {
  .input-flex-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .search-form-container {
    flex: 0%;
    flex-wrap: wrap;
  }
}

.infoSquare{
  text-align: center;

  background-color: lightgray;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
