.dropbtn {
    background-color: white;
    color: black;
    padding: 4px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  .hidden {
    display:none
}

  .outsideBox {
    padding-top: 2px;
    padding-bottom: 2px;
    background: #53A567FF;
    display: flex;
    justify-content: center;
    align-items: stretch;

  }
  .center {

      margin: 2px;
    }

  .mainBackground{
    background: #56A8CBFF;
    width: auto;
  }
  /*
  colors
  green: #53A567FF
  blue: #56A8CBFF
  red: #DA291CFF
  */
  .input-flex-container {
    padding-top: 2px;
    padding-bottom: 2px;
    background: #53A567FF;
    justify-content: center;
    display: flex;
    width: auto;
    flex-wrap: nowrap;
  }
  .input-flex-container input{
    margin: 10px;
    text-align: center;
    width: 400px;
    margin: 10px;
    line-height: 20px;
    font-size: 20px;
    
  }



  body{
    margin: 0;
  }
  h1 { margin-top: 0; }


@media (max-width: 1028px) {
.input-flex-container {
  flex-wrap: wrap;
  
} }

.sidebar {
    flex: 0.1;
    min-width: 100px;
}

.mainContent {
   flex: 0.9;
   overflow: auto;
   width: auto;
}

.outsideBoxResults {
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgb(240, 241, 241);
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: auto;
}

.flightResults{
  text-align:  center;
  vertical-align:   baseline;
  display: inline-block;

  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.infoSquare{
  text-align: left;

  background-color: lightgray;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.flexible-sidebar-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 70%;
  width: auto;
}

.flexible-items-left {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 10px;
  flex: 30%;
  width: auto;  
}